<form method="POST" action="/register">
<p>
  <label>email</label>
  <input type="text" name="email" />
</p>
<p>
  <label>Password</label>
  <input type="password" name="password" />
</p>
<p>
  <input type="submit" name="Signup" value="Create Account" />
</p>
  
</form>